/* Font color Classes */
.DimRed a,
.DimGreen a,
.DimBlue a {
  color:#a7c7d7;
}
.DimRed {
  color:#fbb;
}
.DimGreen {
  color:#9c9;
}
.DimBlue {
  color:rgb(191, 200, 243);
}
.DimOrange {
  color:rgb(255, 222, 187);
}
.DimGray {
  color:#bebebe;
}
.Red {
	color: red
}
.Green {
	color:green;
}
.Blue {
	color:blue
}
.Orange {
	color:orange;
}
.Gray {
  color:gray;
}


/* Background Color Classes */
.BgRed {
	background-color: red;
}
.BgGreen {
	background-color: green;
}
.BgBlue{
	background-color: blue;
}
.BgOrange{
	background-color: orange;
}
.BgGray {
  background-color:gray;
}
.BgDimRed {
  background-color: #f7ced4;
}
.BgDimGreen {
  background-color:#e3f3c8;
}
.BgDimBlue {
	background-color:#e4f3f5;
}
.BgDimOrange {
	background-color:#fce9df;
}
.BgDimGray {
	background-color: #e2e1df;
}

.BgRed,
.BgGreen,
.BgBlue, 
.BgOrange,
.BgGray {
  color: white;
}

.cobStyleColummn{
  text-align: center;
}


/* Background Color Classes for instance*/
.custom-styleField .BgRed {
	background-color: #e04b4b;
}
.custom-styleField .BgGreen {
	background-color: #6c9a1d;
}
.custom-styleField .BgBlue{
	background-color: #6880c8;
}
.custom-styleField .BgOrange{
	background-color: #f7d089;
  color: inherit;
}
.custom-styleField .BgGray {
  background-color:#b1b0b0;
}
.custom-styleField .BgDimRed {
  background-color:#f7ced4;
}
.custom-styleField .BgDimGreen {
  background-color:#C1FA7750;
}
.custom-styleField .BgDimBlue {
	background-color:#e4f3f5;
}
.custom-styleField .BgDimOrange {
	background-color:#fce9df;
}
.custom-styleField .BgDimGray {
	background-color:#e2e1df;
}